<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="handdrawn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hand Drawn
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="handdrawn-link">
                <a href="{% url 'products' %}?category=hand_drawn" class="dropdown-item">Hand Drawn Portraiture - A3</a>
                <a href="{% url 'products' %}?category=hand_drawn" class="dropdown-item">Hand Drawn Portraiture - A4</a>
                <a href="{% url 'products' %}?category=hand_drawn" class="dropdown-item">Hand Drawn Portraiture - A5</a>
                <a href="{% url 'products' %}?category=hand_drawn" class="dropdown-item">All Hand Drawn Portraiture</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="digital-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Digital
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="digital-link">
                <a href="{% url 'products' %}?category=digital" class="dropdown-item">File Only Portraiture</a>
                <a href="{% url 'products' %}?category=digital" class="dropdown-item">Printed Digital Portraiture</a>
                <a href="{% url 'products' %}?category=digital" class="dropdown-item">All Digital</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>